{% extends '_base.html' %}

{% block title %}Rides{% endblock %}

{% block content %}

<div class="container">
    <h2>Add a Ride </h2>
    <hr>
    <form class="row g-3" method="post" action="">
        <div class="col-md-6">
            <label for="from_location" class="form-label">From</label>
            <input type="text" class="form-control" id="from_location" name="from_location" required>
        </div>
        <div class="col-md-6">
            <label for="to_location" class="form-label">To</label>
            <input type="text" class="form-control" id="to_location" name="to_location" required>
        </div>
        <div class="col-12">
            <label for="description" class="form-label">Description</label>
            <textarea type="text" row=2 class="form-control" id="description" name="description" required></textarea>
        </div>
        <div class="col-md-4">
            <label for="distance" class="form-label">Distance</label>
            <input type="number" class="form-control" id="distance" name="distance" placeholder="..... KMs" required>
        </div>
        <div class="col-md-4">
            <label for="date" class="form-label">Date</label>
            <input type="date" class="form-control" id="date" name="date" required>
        </div>
        <div class="col-md-4">
            <label for="mode_of_transport" class="form-label">Mode of Transport</label>
            <select id="mode_of_transport" class="form-select" name="mode_of_transport" required>
                {% for obj in content.transport_modes %}
                <option>{{ obj.mode }}</option>
                {% endfor %}
            </select>
        </div>

        <hr>
        <center>
            <button type="submit" class="btn btn-primary w-50">Add Ride</button>
        </center>
    </form>
</div>

{% if content.alert %}
<script>
    alert("Ride added successfully");
</script>
{% endif %}

{% endblock %}